h1 {
  color: rgb(13, 13, 167)
}

body {
  padding: 10px;
  margin: 10px;
  }
  
  img {
    width: 60px;
  }
  .product {
      border: 1px blue solid;
      padding: 20px;
      margin: 20px;
      text-align: center;
  }

  .test-console {
      border: 1px rgb(255, 140, 0) solid;
      padding: 10px;
      margin: 10px;
  }
  .test-elem {
      margin-top: 3px;
      margin-bottom: 3px;
      margin-right: 3px;
      margin-left: 0px;
  }
  
  #searchBox {
    position: relative;
    width: 150px;
    color: grey;
    text-align: center;
    padding: 10px;
    margin: 0;
    border: 1px solid grey;
    border-radius: 5px;
    font-style: Bold;
  }
  
   
  #sort {
    position: relative;
    display: inline-flex;
    padding: 0;
    margin: 0;
    bottom: 30px;
  }
  
  .cart button {
    position: relative;
    padding: 10px;
    margin: 0;
    bottom: 30px;
    border: 1px solid grey;
    border-radius: 5px;
  }
  
  .cart button:disabled {
    position: relative;
    padding: 10px;
    margin: 0;
    bottom: 30px;
    border: 1px solid grey;
    border-radius: 5px;
  }
  
  #lessons button {
    position: relative;
    padding: 5px;
    margin: 0;
    bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    left: 100px;
  }
  
  #lessons p {
    position: relative;
    padding: 2px;
    line-height: 2px;
  }
  
  .container {
    margin: 1px;
    padding: 1px;
    border: 1px solid grey;
    width: 20%;
    border-radius: 20px;
    margin: 5px;
    background-color: lightgray;
  }
  
  #lessons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    padding: 10px 10px;
    margin: 5px;
  }
  
  .information {
    position: relative;
    width: 100%;
  }
  
  .checkoutContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    padding: 10px 10px;
    margin: 5px;
  }
  
  .checkoutContainer button {
    position: relative;
    padding: 5px;
    margin: 0;
    bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    left: 100px;
  }